.table {
  width: 500px;
  margin-top: 50px;
  border-collapse: collapse;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table-bg-color);
  color: var(--white-color);
}

.table td,
.table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: var(--table-even-bg-color);
}

.table tr:hover {
  background-color: var(--table-bg-color-hover);
  color: var(--black-color);
}

.capitalize {
  text-transform: capitalize;
}

@media (prefers-color-scheme: light) {

  .table tr:nth-child(even) {
    background-color: var(--white-color);
  }

  .table tr:hover {
    background-color: var(--light-grey-color);
    color: var(--black-color);
  }

}